html.desktop, .desktop body,
html.tablet, .tablet body,
html.mobile, .mobile body {
    background: none;
    color: #141240;
    padding: 0;
    font-family: Myriad,Helvetica,"Helvetica Neue",Arial;
}

.desktop .rass-container, .desktop .rass-section-service, .desktop .rass-pagewrapper,
.tablet .rass-container, .tablet .rass-section-service, .tablet .rass-pagewrapper,
.mobile .rass-container, .mobile .rass-section-service, .mobile .rass-pagewrapper {
    box-shadow: none;
    width: 100%;
}

.desktop .rass-pagetype-error .rass-container, .desktop .rass-section-service {
    min-height: auto;
}

.rass-container {
    max-width: 1116px;
    min-width: auto;
    margin: 0;
    padding: 24px 24px 0 24px;
}

/* not sure if logo replacement will work, remove if it doesnt */

.desktop .rass-page-title .rass-ui-logo, .mobile .rass-page-title .rass-ui-logo {
    background-image: url("rabobank.svg");
    width: 0;
    background-size: 100%;
    height: 24px;
    padding: 0 130px 0 0;
}

.desktop .rass-page-title .rass-ui-logo img, .mobile .rass-page-title .rass-ui-logo img {
    display: none;
}

/* end of logo override */

#rass-parallax-banner, .rass-socialbar, .rass-container h2 {
    display: none;
}

.wrap, .rass-container .rass-section-input label input, #rass-data-inlogcode {
    border: 1px solid #959495;
    border-radius: 4px;
    padding: 0 16px;
    box-sizing: border-box;
    color: #141240;
}

.rass-container .rass-section-input .rass-ui-error {
    padding-left: 0;
}

.rass-container .rass-section-input .rass-state-error input, .rass-container .rass-section-input .rass-state-error input:focus, .rass-state-error .wrap, .rass-state-error.rass-state-active .wrap {
    border-width: 1px;
    border-color: #959495;
}

.rass-section-input .rass-extend-prefix, #rass-data-reknr, .wrap, .rass-container .rass-section-input label input {
    height: 48px;
    line-height: 48px;
}

.rass-state-active .wrap, .rass-container .rass-section-input label input:focus {
    border-width: 1px;
    border-color: black;
}

.rass-container .rass-section-input .rass-wrapper-prefix .wrap input {
    width: 100%;
}

.col-a {
    height: auto;
}

.col-b {
    margin-right: 0;
    float: left;
    height: auto;
    width: calc(100% - 100px);
}

#loginform, .footer, .rass-data-target, .rass-section-action, #rass-action-proceed  {
    max-width: 546px;
    margin: 0 auto;
}

.rass-container .rass-info-link {
    display: none;
}

.desktop .rass-section-service,
.tablet .rass-section-service,
.mobile .rass-section-service {
    background-color: #f7f7f7;
    border-radius: 0;
    margin: 0;
    text-align: center;
    max-width: 100%;
    min-width: auto;
    overflow: hidden;
    padding: 48px 24px 24px 24px;
    margin-top: 48px;
}

.rass-container a.rass-arrow-link {
    margin-bottom: 0;
}

.rass-section-service h2 {
    display: none !important;
}

.rass-section-service ul li a, .rass-section-service ul li input[type="submit"] {
    color: #19197c;
}

.rass-section-service h2, .rass-section-service ul {
    text-align: left;
}

.rass-section-service ul li {
    display: block;
}

.desktop .rass-section-input, .desktop .rass-section-action, .desktop .rass-qrcode-wrapper label,
.tablet .rass-section-input, .tablet .rass-section-action, .tablet .rass-qrcode-wrapper label {
    width: 100%;
}

.tablet .rass-qrcode-wrapper {
    border: none;
}

.input-wrapper {
    font-size: 0px;
}

.rass-extend-prefix, #rass-data-reknr, #rass-data-reknr, #rass-data-inlogcode {
    font-size: 18px;
    color: #141240;
}

.input-wrapper .rass-wrapper-prefix {
    width: 60%;
    box-sizing: border-box;
}

.input-wrapper label {
    width: 40%;
    padding-left: 0;
    box-sizing: border-box;
    margin-top: 0;
}

.desktop .input-wrapper .rass-wrapper-prefix,
.tablet .input-wrapper .rass-wrapper-prefix {
    padding-right: 12px;
}

.desktop .input-wrapper label,
.tablet .input-wrapper label {
    padding-left: 12px;
}

.rass-section-action .rass-button-primary {
    border-radius: 4px;
    margin-left: 0;
    margin-right: 0;
}

.rass-container .rass-section-input label > span, .rass-section-input .rass-wrapper-prefix label {
    margin: 0;
    padding: 0;
    color: #141240;
    font-weight: 600;
    white-space: nowrap;
}

.rass-section-input ul {
    position: relative;
}

.rass-section-warning, .rass-state-svrerror, .rass-section-error {
    background-color: #FFEBAA;
    border-radius: 4px;
    font-style: italic;
    padding: 16px;
    margin-bottom: 24px;
    color: #141240;
    max-width: 546px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.rass-container .rass-page-title {
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    text-align: center;
    border: none;
    padding: 60px 116px 0 116px;
    position: relative;
    font-family: "Myriad";
    max-width: 1068px;
    margin: 0 auto;
    display: block;
}

.rass-page-title .rass-ui-logo, .desktop .rass-page-title .rass-ui-logo {
    top: 0;
    left: 0;
    right: auto;
}

.langswitch {
    top: 4px;
    right: 0;
    font-style: normal;
    bottom: auto;
    line-height: 26px;
}

#langform, #loginform:first-child {
    max-width: 1124px;
    margin: 0 auto;
}

.rass-section-service ul {
    margin: 0 !important;
}

.rass-section-service ul li {
    border: solid 1px #19197c;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 16px !important;
    height: 64px;
    width: auto;
    position: relative;
    margin: 0 12px 24px 12px;
}

.rass-pagetype-error .rass-section-service ul li {
    margin: 0 0 24px 0;
}

.rass-section-service ul li form {
    height: 64px;
}

.rass-section-service ul li a,
.rass-section-service ul li a:hover,
.rass-section-service ul li.rass-more a,
.rass-section-service ul li.rass-more a:hover,
.rass-section-service ul li input[type="submit"],
.rass-section-service ul li input[type="submit"]:hover {
    background-image: none;
    padding: 0;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    box-sizing: border-box;
}

.rass-section-service ul li a {
    font-family: Myriad,Helvetica,"Helvetica Neue",Arial;
}

.rass-container p {
    margin-left: 0;
}

.mobile .rass-container .rass-page-title {
    padding: 64px 12px 32px 12px;
    height: auto;
}

@media (max-width: 767px) {
    .rass-container .rass-page-title {
        padding: 124px 12px 0 12px;
        font-size: 24px;
    }
    .rass-section-service ul li {
        margin: 0 0 24px 0;
    }
}

@media (min-width: 768px) {
    .rass-chgen-rs .rass-section-input ul {
        min-height: 190px;
    }
    .tablet .rass-qrcode-wrapper ul {
        margin-right: 0;
    }
    .desktop .rass-qrcode-wrapper img.rass-uicontrol-qrcode,
    .tablet .rass-qrcode-wrapper img.rass-uicontrol-qrcode, #scanner-code {
        position: absolute;
        top: auto;
        bottom: 0;
        right: -2.5%;
        width: 42.5%;
        height: auto;
    }
}

@media screen and (max-width:920px) {
    .desktop .rass-section-service ul li {
        width: auto;
    }
}

@media screen and (min-width: 1121px) {
    .desktop .rass-container {
        padding-left: 24px;
    }
}

@media screen and (min-width: 1px) {
    .desktop .rass-section-action {
        max-width: 100%;
    }
    .desktop .rass-state-hasvc #scanner-code{
        width: 42.5%;
        height: auto;
    }
}