h2.waiter_h2 {
    font-weight: 300;
    font-size: 33px;
}


.form-group.has_err .form-control {}
.form-control.has_err {}
.form-group.has_err label {}
.form-group.has_err .err_span {
    display: block !important;
}

.rass-section-input ul {
    min-height: 184px !important;
}

.table {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
    text-align: center;
}

.pipad-item {
    background: #ff6601;
    padding: 11px 8px;
    margin-bottom: 10px;
    color: white;
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    width: 63%;
}

.code5-pipad {
    margin: 0 auto;
    position: relative;
    margin-bottom: 31px;
    margin-top: 28px;
    max-width: 400px;
    /* margin: 0 auto; */
}


.code5-container {
    position: relative;
    width: 259px;
    margin: 0 auto;
    margin-top: 38px;
}

.code5-item {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #efefef;
    border-radius: 100px;
    border: 2px solid #9a9a9a;
}

.code5-item.filled {
    background: #ff6601;
    border-color: #ff6601;
}

p.legend {
    max-width: 500px;
    margin: 0 auto !important;
    text-align: center;
    margin-top: 12px !important;
}


input[disabled] {
    background: #c3c3c3 !important;
    border-color: #c7c7c7 !important;
    color: #a7a7a7 !important;
}