@font-face{font-family:"senses-icons";src:url("senses-icons-1.eot");font-weight:400;font-style:normal}
@font-face{font-family:"senses-icons";src:url("senses-icons-1.eot");src:url("senses-icons.eot#iefix") format("embedded-opentype"),url("senses-icons.woff") format("woff"),url("senses-icons.ttf") format("truetype");font-weight:400;font-style:normal}
.rass-container .rass-section-input label input{box-sizing:border-box;width:100%;font-size:1rem;text-align:left;border:1px solid #AAA;border-top:none;border-right:1px solid #FFF;border-right:1px solid transparent;border-left:1px solid #FFF;border-left:1px solid transparent;border-top-left-radius:0;border-bottom-right-radius:16px;border-bottom-left-radius:16px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:2px 14px 7px}
input[type="text"],input[type="password"],input[type="number"],input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus{color:#009;outline:none;outline-width:0;-webkit-appearance:none}
.mobile input,.mobile input:focus{outline:none!important;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-user-modify:read-write-plaintext-only}
input[type="password"]{-webkit-text-security:disc;letter-spacing:.3em}
.rass-container {position:relative;z-index:999;}
.rass-container .rass-section-input .rass-ui-richpassword input{display:inline;height:1.8em;width:1.8em;padding:0;font:22px/21px "Myriad Regular",myriad-pro,Helvetica,Helvetica Neue,Arial;text-align:center;border:1px solid #CCC;border-radius:.7em}
.rass-container .rass-section-input .rass-ui-richpassword span{display:block}
.rass-container .rass-section-input .rass-state-error input,.rass-container .rass-section-input .rass-state-error input:focus{color:#009;border-color:red;border-width:2px;border-right:2px solid rgba(255,255,255,0);border-left:2px solid rgba(255,255,255,0)}
.rass-container .rass-section-input .rass-state-error .rass-extend-prefix{color:#333}
.rass-container .rass-section-input label input:focus{border-color:#009;border-width:2px;border-right:none;border-right:2px solid rgba(255,255,255,0);border-left:none;border-left:2px solid rgba(255,255,255,0)}
.clearfix{display:block;clear:both;height:1%}
.wrap{box-sizing:border-box;position:relative;height:1%;width:100%;border-right:1px solid transparent;border-bottom:1px solid #AAA;border-left:1px solid transparent;border-bottom-right-radius:16px;border-bottom-left-radius:16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;padding:12px 102px 4px 14px}
.col-a{position:relative;float:left;box-sizing:border-box;height:1%;width:100px}
.col-b{position:relative;float:left;box-sizing:border-box;height:1%;width:100%;margin-right:-100px}
.wrap .rass-focushelper{position:absolute;top:0;left:-1em;height:100%;width:94%;margin-left:0;z-index:0}
.rass-container .rass-section-input .rass-wrapper-prefix .wrap input{width:99%;padding:0;background-color:transparent;border:none;border-radius:0}
.rass-container .rass-section-input .rass-wrapper-prefix .wrap .col-a input{text-align:right}
.rass-wrapper-prefix{padding-right:0}
.rass-state-active .wrap{border-width:2px;border-bottom-color:#009}
.rass-state-active .col-a{margin-left:-1px}
.rass-container .rass-section-input label #rass-data-pasnr:focus{padding-left:13px}
.rass-state-error .wrap,.rass-state-error.rass-state-active .wrap{border-width:2px;border-bottom-color:red}
#rass-data-inlogcode2{width:100%}
.rass-state-svrerror {margin-top: 1.5rem}
.rass-container .rass-section-input label > span{display:inline-block;padding-left:16px}
.rass-container .rass-section-input .rass-ui-checkbox{box-sizing:border-box;padding-left:.25em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;margin-bottom:2rem}
.rass-container .rass-section-input .rass-ui-error{padding-right:16px;font-size:.8rem;line-height:1rem;margin-bottom:1rem;min-height:0}
.rass-section-input .rass-input-metatext{display:block;padding-top:.2em;font-size:.9rem;color:#999}
.rass-section-input label {box-sizing:border-box}
.rass-section-input .ui-readerchoice-input{margin-top:1em;margin-bottom:3em}
.rass-section-input .ui-readerchoice-input p{margin-bottom:.2em}
.rass-section-input .ui-readerchoice-input label{position:relative;display:inline-block;box-sizing:border-box;height:7em;width:47.5%;margin-left:4px;padding:1em;text-align:center;border:1px solid #CCC;border-radius:8px;-webkit-box-sizing:border-box}
.rass-section-input .ui-readerchoice-input label img{display:inline-block;height:100%}
.rass-section-input .ui-readerchoice-input label:first-child{margin-right:8px}
.rass-section-input .ui-readerchoice-input label span{display:inline;margin-left:.4em;padding-left:0}
.rass-section-input .ui-readerchoice-input label input{display:inline;width:auto}
.rass-section-input .ui-readerchoice-input .rass-section-row{position:absolute;bottom:-2.2em;left:0;margin-left:4px}
.rass-section-action .rass-button-primary{font-size:1rem;margin-left:2px}
.rass-section-action .rass-button-tertiary{font-size:1rem;margin-top:1rem;margin-bottom:0.5em}
.rass-section-info{margin-bottom:1em}
.rass-section-info .rass-ui-label{margin:.5em 0 0 1.1em;color:#999;font-size:.9rem}
.rass-section-info .rass-ui-data{margin:0 0 0 1em;color:#009}
.has-js .rass-hideonjs{display:none;}
@media (max-width: 300px) {
.col-a{width:100px}
.col-b{margin-right:-100px}
.rass-section-input .ui-readerchoice-input label{width:96%;margin-bottom:3em}
}
@media (max-width: 320px) {
.submask:first-of-type{margin-left:-2px}
.col-a{width:110px}
.col-b{margin-right:-110px}
}
.ui-readerchoice-input.rass-state-disabled p{color:#D8D8D8}
.rass-layout-center .rass-section-formgroup{text-align:center}
.rass-layout-center h1{font-size:1.8em;padding-top:8px;width:100%;margin-bottom:0}
.rass-layout-center .rass-section-action *{width:100%;text-align:center}
.rass-layout-center .rass-button-tertiary{margin-bottom:1em;margin-top:2em}
.mobiletc #rass-section-softkey{display:block!important;text-align:center;background-color:#666}
.richsoftkey #rass-section-softkey{width:100%;text-align:center;height:auto;overflow:hidden;position:absolute;bottom:0;text-align:center;overflow:hidden;padding:0;-webkit-transform:translateZ(0);-webkit-transition:height .5s;transition:height .5s}
#rass-ui-buttons{width:100%;max-width:400px;text-align:center;position:relative;height:auto;padding:10px 0 5px;margin:auto}
.richsoftkey #rass-ui-buttons{width:100%;max-width:400px}
.richsoftkey #rass-section-softkey.show{height:auto;z-index:9999}
#rass-ui-buttons button{height:50px;width:30%;box-sizing:border-box;font-size:24px;display:inline-block;border:0;border-bottom:1px solid #aaa;border-radius:4px;background:#F7F7F7;color:#000;text-align:center!important;padding:0;margin:0 5px 5px 0;vertical-align:middle;-webkit-transform:translateZ(0);-webkit-transition:height .5s}
#rass-ui-buttons button:nth-child(3n){margin-right:0}
#rass-ui-buttons button:active{background-color:#666;color:#FFF}
#rass-section-softkey button:focus{outline:0}
.mobiletc .rass-layout-center .rass-section-action{height:1.5em;padding-bottom:1em}
.mobiletc .rass-layout-center .rass-section-action a{float:left;display:inline-block;width:auto;padding:0;margin-top:0}
.mobiletc .rass-layout-center .rass-section-action input{float:right;display:inline-block;width:auto;padding:0;margin-top:0}
.mobiletc .rass-layout-center .rass-section-action.rass-action-onechild input{float:none;margin:auto;display:block}
.mobiletc .rass-layout-center{height:100%}
.mobiletc .rass-layout-center .rass-page-title .rass-section-profile{position:absolute;top:0;left:0}
.mobiletc .rass-layout-center .rass-page-title{padding-right:70px;padding-left:90px;padding-top:0}
.mobiletc .rass-layout-center .rass-page-title span{margin:0;width:auto;display:inline-block;padding-bottom:0}
.mobiletc .rass-layout-center .rass-page-title p{text-align:left;font-size:1.3rem}
.mobiletc .rass-page-title .rass-profile-avatar{height:70px}
.mobiletc .rass-state-svrerror{text-align:center;padding-top:8px}
.mobiletc .rass-layout-center .dpo-widget-password.dpo-widget-container{margin-top:1em}
@media (max-width: 400px) {
.mobile .rass-container .rass-page-title {font-size:1.8rem}
.mobiletc .rass-layout-center .rass-page-title{padding-right:58px;padding-left:68px;padding-top:0}
.mobiletc .rass-layout-center .rass-page-title span{font-size:1.3rem;padding-top:.4em}
.mobiletc .rass-layout-center .rass-page-title p{font-size:1rem;padding-top:0}
.mobiletc .rass-page-title .rass-section-profile{padding-top:.3em}
.mobiletc .rass-page-title .rass-profile-avatar{height:55px}
.mobiletc .rass-layout-center .rass-section-action a,.mobiletc .rass-layout-center .rass-section-action input{font-size:1rem}
.mobiletc .rass-section-input{padding-top:.4em;font-size:.8rem}
.mobiletc .rass-layout-center .dpo-widget-password.dpo-widget-container{margin-top:0;margin-bottom:.5em}
.rass-section-service ul .rass-rsp-nonmobile{display:none}
}
.mobiletc form{box-sizing:border-box;height:100%;padding-bottom:220px;display:flex;display:-webkit-flex;flex-direction:column;-webkit-flex-direction:column;justify-content:space-between;-webkit-justify-content:space-between}
.mobiletc{-webkit-touch-callout:none;-webkit-user-select:none}
.rass-container .rass-section-input .rass-wrapper-prefix .wrap input{line-height:100%\9}
input[type="radio"]{border-radius:100%!important;border:1px solid #EEE!important}
#rass-parallax-banner{-webkit-transition:background-position .1s;transition:background-position .1s}
html.tablet,.tablet body{background:url("senses14_bg.png");font:18px/25px "Myriad Regular",Helvetica,Helvetica Neue,Arial;color:#333}
.tablet .rass-container{width:66%;max-width:none}
.tablet .rass-page-title .rass-ui-logo{width:75px;right:22px;top:10px}
.tablet .rass-page-title .rass-ui-logo img {width:75px}
.tablet.portrait .rass-pagewrapper{padding:0 15px;box-sizing:border-box}
.tablet.portrait .rass-container{width:100%;max-width:none}
.tablet.portrait #rass-parallax-banner{display:none}
.tablet.portrait .rass-section-service{width:100%;max-width:none}
.tablet .rass-page-title{padding-top:.45em;font-size:2.2rem;border-bottom:1px solid #CCC;min-height:130px;height:auto;margin-bottom:12px}
.tablet .rass-pagewrapper{width:100%;margin:initial;position:relative}
.tablet .rass-section-service{width:66%;max-width:none}
.tablet .rass-section-service ul {width:36%}
.tablet .rass-section-service h2 {width:14%}
.tablet .rass-section-input,.tablet .rass-section-action{width:440px}
.tablet .rass-qrcode-wrapper{width:100%;border-top:1px solid #CCC;position:relative;margin-top:1em}
.tablet .rass-qrcode-wrapper ul{padding-top:1em;padding-bottom:2em;margin-right:38%}
.tablet .rass-qrcode-wrapper li{margin-top:.6em}
.tablet .rass-qrcode-wrapper img{width:250px;height:250px;position:absolute;top:0;right:0;z-index:999 !important}
.tablet .rass-qrcode-wrapper label{width:320px}
.tablet .rass-pagewrapper #scanner-code {width:250px;height:250px;z-index:999 !important}
.tablet .rass-section-header{background:#FFF;margin-bottom:1em;padding:1em 0 1em .5em;-webkit-box-shadow:1px 1px 9px 0 rgba(0,0,0,0.1);box-shadow:1px 1px 9px 0 rgba(0,0,0,0.1)}
.tablet .rass-container{background:#FFF;-webkit-box-shadow:1px 1px 9px 0 rgba(0,0,0,0.1);box-shadow:1px 1px 9px 0 rgba(0,0,0,0.1);box-sizing:border-box;margin:initial}
.tablet #rass-parallax-banner{display:block;position:absolute;right:0;width:20em;height:100%;z-index:1;background-repeat:no-repeat;background-size:contain;background-position:50% 200px}
.tablet .rass-chgen-rs #rass-parallax-banner{background-image:;background-size:80%}
.tablet .rass-chgen-rr #rass-parallax-banner{background-image:;background-size:80%}
@media (orientation: portrait) { 
	.tablet #rass-parallax-banner{display:block}
}
 html.desktop,.desktop body{background:url("senses14_bg.png");font:18px/25px "Myriad Regular",Helvetica,Helvetica Neue,Arial;color:#333}
.desktop .rass-page-title .rass-ui-logo{width:75px;right:22px;top:10px}
.desktop .rass-page-title .rass-ui-logo img {width:75px}
.desktop .rass-page-title{padding-top:.45em;font-size:2.4rem;border-bottom:1px solid #CCC;min-height:130px;height:auto;margin-bottom:12px}
.desktop .rass-section-header{background:#FFF;margin-bottom:1em;padding:1em 0 1em .5em;-webkit-box-shadow:1px 1px 9px 0 rgba(0,0,0,0.1);box-shadow:1px 1px 9px 0 rgba(0,0,0,0.1)}
.desktop .rass-container{background:#FFF;-webkit-box-shadow:1px 1px 9px 0 rgba(0,0,0,0.1);box-shadow:1px 1px 9px 0 rgba(0,0,0,0.1);box-sizing:border-box;margin-left:0}
.rass-section-service{background:#009;border-bottom-right-radius:1.5em;color:#FFF;width:100%;min-width:310px;max-width:480px;margin-bottom:1em;min-height:160px;box-sizing:border-box;-webkit-box-shadow:1px 1px 9px 0 rgba(0,0,0,0.1);box-shadow:1px 1px 9px 0 rgba(0,0,0,0.1)}
.rass-section-service h2,.rass-section-service a{font-family:"myriad light","myriad-pro-light",Helvetica,Helvetica Neue,Arial;font-weight:400;color:#FFF;-webkit-font-smoothing:antialiased}
.desktop .rass-pagetype-error .rass-container{min-height:600px}
.desktop .rass-pagewrapper #rass-parallax-banner{position:absolute;right:0;width:17.3em;height:100%;z-index:1;background-repeat:no-repeat;background-size:contain;background-position:50% 100px}
.desktop .rass-chgen-rs #rass-parallax-banner{background-image:url("rabo-scanner-retina.gif");background-size:contain}
.desktop .rass-chgen-rr #rass-parallax-banner{background-image:;background-size:contain}
.rass-section-service h2,.rass-section-service ul{width:34%;display:inline-block;list-style:none;padding:0;vertical-align:top;margin-right:1em}
.rass-section-service h2{width:20%;font-family:"Myriad Regular";font-size:1.3em;padding-left:.8em}
.rass-section-service ul li{position:relative;height:30px;display:inline-block;margin-bottom:1em}
.rass-section-service ul li a{height:100%;display:inline-block;line-height:180%;vertical-align:top;font-family:"Myriad Regular"}
.rass-section-service ul li a:before{z-index:5;color:#5252ad;width:1.1em;display:inline-block;font-family:"senses-icons";font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;content:"\f176";font-size:1.75em;margin-right:.2em}
.rass-section-service ul li a:after{color:#fff;position:absolute;z-index:6;top:.3em;left:.2em;color:#fff;display:inline-block;font-family:"senses-icons";font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;content:"\f16f";font-size:1em}
.rass-section-service ul li.rass-more a:before{color:#FFF}
.rass-section-service ul li.rass-more a:after{color:#009}
.rass-section-service ul li a:hover:before,.rass-section-service ul li.rass-more a:hover:before{color:#9999D6}
.rass-section-service ul li.rass-more a:hover:after{color:#FFF}
.rass-container h2{font-size:1rem;font-weight:700;color:#000;margin-left:.2rem;margin-bottom:.8rem}

@media screen and (max-width:920px) {
.desktop .rass-container{width:66%}
.desktop .rass-pagewrapper{width:920px;margin:initial;position:relative}
.desktop .rass-section-service h2,.desktop .rass-section-service ul{width:100%;display:inline-block;list-style:none;padding:0;vertical-align:top;margin-left:16px}
.desktop .rass-section-service ul{margin-top:0;margin-bottom:0}
.desktop .rass-section-service ul li{width:100%;padding-left:0}
.rass-state-hasvc #scanner-code{width:250px;height:250px}
}

@media screen and (min-width: 920px) and (max-width:1120px) {
.desktop .rass-container{width:66%;max-width:none;padding-left:16px}
.desktop .rass-pagewrapper{width:100%;margin:initial;position:relative}
.desktop .rass-section-service{width:66%;max-width:none}
.desktop .rass-section-input{width:100%}
.desktop .rass-section-action{width:100%;max-width:440px}
.desktop .rass-qrcode-wrapper{width:100%;position:relative;margin-top:1em}
.desktop .rass-qrcode-wrapper ul{padding-top:1em;padding-bottom:2em;padding-right:40%}
.desktop .rass-qrcode-wrapper li{margin-top:.6em}
.desktop .rass-qrcode-wrapper img{width:250px;height:250px;position:absolute;top:0;right:0;z-index:999 !important}
.rass-state-hasvc #scanner-code{width:250px;height:250px}
.desktop .rass-qrcode-wrapper label{width:320px}
.desktop .rass-section-service ul{width:33%}
}

@media screen and (min-width: 1121px) {
.desktop .rass-container{width:66%;max-width:none;padding-left:16px}
.desktop .rass-pagewrapper{width:1120px;margin:auto;position:relative}
.desktop .rass-section-service{width:66%;max-width:none;min-height:200px}
.desktop .rass-section-input,.desktop .rass-section-action{width:440px}
.desktop .rass-qrcode-wrapper{width:100%;position:relative;margin-top:1em}
.desktop .rass-qrcode-wrapper ul{padding-top:1em;padding-bottom:2em;padding-right:39%}
.desktop .rass-qrcode-wrapper li{margin-top:.3rem}
.desktop .rass-qrcode-wrapper img{width:250px;height:250px;position:absolute;top:0;right:0;z-index:999 !important;}
.rass-state-hasvc #scanner-code{width:250px;height:250px;z-index:999 !important}
.desktop .rass-qrcode-wrapper label{width:440px}
}

.mobile .input-wrapper .rass-wrapper-prefix,.mobile .input-wrapper label{width:100%}
.mobile .input-wrapper .rass-info-link,.mobile .rass-rsp-nonmobile,.mobile .rass-section-service h2{display:none}
.mobile .rass-page-title{padding-top:.45em;font-size:2rem;border-bottom:1px solid #CCC;height:100px;margin-bottom:12px}
.mobile .rass-page-title .rass-ui-logo {width:55px}
.mobile .rass-page-title .rass-ui-logo img {width:55px}
.mobile .rass-container a.rass-arrow-link,.mobile .rass-container .rass-action-cancel{height:30px;padding-top: 0.3rem;}
.mobile .rass-container .rass-action-cancel{background-image:url("icon_supercirkel_kruisje.svg")}
.mobile .rass-section-service{display:none;min-height:125px}
.mobile .rass-pagetype-login .rass-section-service{display:block;margin:auto}
.mobile .rass-socialbar{margin:auto;width:100%;min-width:310px;max-width:480px;margin-bottom:1rem;margin-top:1rem}
.mobile .rass-socialbar .rass-socialbar-topbar{box-sizing:border-box;padding:.55em 1.1em 1.75em}
.mobile .rass-socialbar .rass-socialbar-topbar .rass-socialbar-slogan span{font-size:1rem}
.mobile .rass-section-header{max-width:480px;padding:12px;margin:auto;box-sizing:border-box}
.mobile .rass-section-service ul{width:90%;margin:0 0 0 16px}
.mobile .rass-section-service{padding-top:20px;padding-bottom:20px}
.mobile .rass-section-service ul li a{line-height:150%}
.mobile .rass-section-service ul{margin-top:0}
.mobile .rass-ui-checkbox{margin-top:1em}
.mobile .rass-section-service li,.mobile .footer li{margin-bottom:.3rem;margin-top:.3rem}
.mobile a.rass-icon-link{margin-bottom:0;padding-bottom:0;padding-top:0;line-height:200%}
.input-wrapper .rass-wrapper-prefix{width:58%;display:inline-block;vertical-align:top}
.input-wrapper label{width:26%;display:inline-block;vertical-align:top;margin-top:1px}
.rass-container .rass-page-title{position:relative;line-height:110%}
.rass-container .rass-section-input label input{padding-bottom:5px;background-color:transparent}
.rass-container .rass-section-input label > span{margin-bottom:10px}
.rass-chgen-rs .rass-state-dynamic .rass-qrcode-wrapper.rass-section-input label > span,.rass-chgen-rs .rass-state-dynamic .rass-qrcode-wrapper ul li{color:#DDD}
.rass-chgen-rs .rass-state-dynamic .rass-qrcode-wrapper ul li strong{color:#DDD;font-weight:700}
.rass-chgen-rs .rass-container .rass-state-dynamic .rass-qrcode-wrapper.rass-section-input label input{border-bottom-color:#E8E8E8;background-color:#FFF}
.rass-chgen-rs .rass-container .rass-state-dynamic .rass-qrcode-wrapper.rass-section-input label input:after{content:' ';position:absolute;top:0;left:0;width:100%;height:100%}
.rass-chgen-rs .rass-container .rass-state-dynamic .rass-section-action input.rass-button-primary{background-color:#E8E8E8;border-color:#E8E8E8;color:#FFF}
.rass-chgen-rs.rass-state-hasvc .rass-state-dynamic .rass-qrcode-wrapper.rass-section-input label > span,.rass-state-hasvc .rass-state-dynamic .rass-qrcode-wrapper ul li{color:#333}
.rass-chgen-rs.rass-state-hasvc .rass-state-dynamic .rass-qrcode-wrapper ul li strong{color:#333;font-weight:700}
.rass-chgen-rs.rass-state-hasvc .rass-container .rass-state-dynamic .rass-qrcode-wrapper.rass-section-input label input{border-bottom-color:#AAA;background-color:#FFF}
.rass-chgen-rs.rass-state-hasvc .rass-container .rass-state-dynamic .rass-section-action input.rass-button-primary{background-color:#F60;border-color:#F60;color:#FFF}
.langswitch{font-size:1rem;position:absolute;right:1em;bottom:-2.5em}
.langswitch a,.langswitch span{margin:0;padding:0;color:#009;font-size:1rem}
.langswitch a.current{font-family:'myriad-pro';font-weight:700;color:#000;cursor:default}
.rass-container strong{font-weight:700;color:#000}
.rass-infolink{background:url("itje_16x16_new.svg") no-repeat;background-size:20px 20px;text-indent:-99999999px!important;display:inline-block;width:20px;height:20px}
.rass-ui-checkbox p{margin-bottom:16px}
.rass-ui-checkbox label{font-size:16px;color:#333;line-height:120%}
.rass-ui-checkbox label span{display:inline-block;margin:-2px 16px 10px 14px;line-height:22px}
.rass-ui-checkbox input[type="checkbox"]{position:absolute;width:16px;height:16px;overflow:hidden;margin:0;padding:0;border:0;outline:0;opacity:0;cursor:pointer}
.rass-ui-checkbox input[type="checkbox"] + label:before{display:inline-block;width:16px;height:16px;content:" ";vertical-align:top;margin-right:8px;cursor:pointer;background-image:url("checkbox_off.svg");background-repeat:no-repeat;background-size:16px 16px}
.rass-ui-checkbox input[type="checkbox"]:focus + label:before,.rass-ui-checkbox input[type="checkbox"]:hover + label:before{background-image:url("checkbox_off_focus.svg");background-repeat:no-repeat;background-size:16px 16px}
.rass-ui-checkbox input[type="checkbox"]:checked + label:before{background-image:url("checkbox_on.svg");background-repeat:no-repeat;background-size:16px 16px}
.rass-ui-checkbox input[type="checkbox"]:checked:hover + label:before{background-image:url("checkbox_on_focus.svg");background-repeat:no-repeat;background-size:16px 16px}
.rass-ui-checkbox input[type="checkbox"]:disabled:checked + label:before{background-image:url("checkbox_on_disabled.svg");background-repeat:no-repeat;background-size:16px 16px}
.rass-ui-checkbox input[type="checkbox"]:disabled + label:before{background-image:url("checkbox_off_disabled.svg");background-repeat:no-repeat;background-size:16px 16px}
.rass-ui-checkbox input[type="checkbox"]:disabled + label,input[type="checkbox"]:disabled:checked + label{color:#e3e3e3}


.rass-section-action .rass-button-tertiary:active{background-color:transparent}

.rass-section-action .rass-action-cancel{background-image:url("icon_supercirkel_kruisje.svg");background-size:30px 30px;height:2rem;background-repeat:no-repeat;padding-left:2.4rem;margin-bottom:0.5em;}

/*.rass-section-action .rass-action-cancel:active,*/

.rass-section-action .rass-action-plus{background-image:;background-size:30px 30px;height:2rem;background-repeat:no-repeat;padding-left:2.4rem;margin-left:4px;}

.rass-section-action .rass-action-cancel:hover{background-image:url("icon_supercirkel_kruisje_hover.svg");background-size:30px 30px;background-repeat:no-repeat;padding-left:2.4rem}

.rass-section-action .rass-action-plus:active,
.rass-section-action .rass-action-plus:hover{background-image:;background-size:30px 30px;background-repeat:no-repeat;padding-left:2.4rem}

.rass-section-input ul li{text-indent:0;}

.rass-container a.rass-help-link{background-image:url("icon_supercirkel_vraagteken.svg");background-size:30px 30px;/*line-height:190%*/;background-repeat:no-repeat;padding-left:2.4rem}
.rass-section-action .rass-help-link:active,
.rass-container a.rass-help-link:hover{background-image:url("icon_supercirkel_vraagteken_hover.svg");background-size:30px 30px;background-repeat:no-repeat;padding-left:2.4rem}

.rass-container a.rass-reader-link{background-image:;background-size:30px 30px;/*line-height:190%;*/background-repeat:no-repeat;padding-left:2.4rem}
.rass-section-action .rass-reader-link:active,
.rass-container a.rass-reader-link:hover{background-image:;background-size:30px 30px;background-repeat:no-repeat;padding-left:2.4rem}

.rass-container a.rass-arrow-link{background-image:url("icon_supercirkel_pijl.svg");background-size:30px 30px;line-height:128%;background-repeat:no-repeat;padding-left:2.4rem}
.rass-section-action .rass-arrow-link:active,
.rass-container a.rass-arrow-link:hover{background-image:url("icon_supercirkel_pijl_hover.svg");background-size:30px 30px;background-repeat:no-repeat;padding-left:2.4rem}

.rass-section-confirmation {margin-top:2em;padding-top:2em;border-top: 1px solid #CCC}
.rass-section-service ul li a:before,.rass-section-service ul li a:after{display:none}
.rass-section-service ul li a,.rass-section-service ul li input[type="submit"]{height:30px;background-color:transparent;border:none;background-image:url("icon_supercirkel_pijl_bl.svg");background-repeat:no-repeat;background-size:30px 30px;padding-left:40px;padding-top:0.3rem;line-height:112%}
.rass-section-service ul li a:hover,.rass-section-service ul li input[type="submit"]:hover{background-image:url("icon_supercirkel_pijl_bl_hover.svg");background-size:30px 30px}

.rass-section-service ul li input[type="submit"]{white-space:normal;min-height:30px;height:auto;text-align:left}

.rass-container .rass-section-input .rass-input-masked{color:#999;font-size:1.5rem;letter-spacing: 0.1rem}

/*
.rass-section-service ul li input[type="submit"]{font-family:"Myriad Light";height:30px;font-weight:normal}
*/
.rass-section-service ul li.rass-more a{background-image:url("icon_supercirkel_pijl_wh.svg");background-repeat:no-repeat;background-size:30px 30px;padding-left:40px}
.rass-section-service ul li.rass-more a:hover{background-image:url("icon_supercirkel_pijl_wh_hover.svg")}
.rass-chgen-rr .rass-section-input ul{list-style:none}
.rass-chgen-rr .rass-section-input.rass-qrcode-wrapper ul{list-style:disc;padding-right:3em;margin-top:0;margin-bottom:2rem;padding-top:0;padding-bottom:0}
.rass-container a.rass-icon-link{font-size:1rem}
.rass-container .rass-info-link{width:18px;height:18px;display:inline-block;text-indent:-9999px;background-image:url("itje_16x16_new.svg");background-repeat:no-repeat;background-size:18px 18px;margin-top:37px;margin-right:8px;padding-left:0;cursor:pointer}
.rass-container .rass-info-link.active,.rass-container .rass-info-link:hover{background-image:url("itje_16x16_full_new.svg")}
.rass-section-warning{color:#F60}
.rass-container .qrcode-wrapper em{color:#F60;font-style:normal}
.rass-section-info ul{list-style:none;margin-top:.5rem}
.rass-section-info ul li span{display:inline-block;width:35%}
.rass-section-info ul li strong{color:#009;font-weight:400}
.rass-section-popup{border:1px solid #CCC;position:absolute;z-index:999;width:24rem;background-size:cover;margin:20px 0 0 20px;cursor:pointer;border-radius:2px;box-shadow:6px 6px 5px 0 rgba(0,0,0,0.2)}
.rass-socialbar .rass-socialbar-topbar{box-sizing:border-box;height:.5em;width:100%;padding:.8em 1.1em 1.5em;background:#e3e3e3;-webkit-box-shadow:1px 1px 3px 0 rgba(0,0,0,0.1);-moz-box-shadow:1px 1px 3px 0 rgba(0,0,0,0.1);box-shadow:1px 1px 3px 0 rgba(0,0,0,0.1)}
.rass-socialbar .rass-socialbar-topbar ul{float:left;width:40%;margin:0;padding:0}
.rass-socialbar .rass-socialbar-topbar li{display:inline-block;color:#666;position:relative;height:1.3em;width:1.3em;margin-left:.3em}
.rass-socialbar .rass-socialbar-topbar li:first-child{margin-left:0}
.rass-socialbar .rass-socialbar-topbar li a{display:block;position:relative;z-index:2;height:100%;width:100%;border:0;text-indent:-9999px}
.rass-socialbar .rass-socialbar-topbar li:before{position:absolute;z-index:1;top:0;left:0;font-family:"senses-icons";font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;font-size:1.17rem;text-indent:0}
.rass-socialbar .rass-socialbar-topbar li:hover:before{color:#aaa}
.rass-socialbar .rass-socialbar-topbar li.facebook:before{content:"\f162"}
.rass-socialbar .rass-socialbar-topbar li.googleplus:before{content:"\f163"}
.rass-socialbar .rass-socialbar-topbar li.linkedin:before{content:"\f164"}
.rass-socialbar .rass-socialbar-topbar li.twitter:before{content:"\f165"}
.rass-socialbar .rass-socialbar-topbar li.youtube:before{content:"\f166"}
.rass-socialbar .rass-socialbar-topbar .rass-socialbar-slogan{float:right;width:40%}
.rass-socialbar .rass-socialbar-topbar .rass-socialbar-slogan span{float:right;text-align:right;font-family:"Myriad SemiBold Italic",Verdana,Helvetica,Arial,sans-serif;font-size:.85rem;color:#666}

